<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Custo de Hospedagem</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      
      <ion-input
        label="Número de Noites"
        labelPlacement="stacked"
        type="number"
        placeholder="Ex: 7"
        [(ngModel)]="nights"
        (ionInput)="onInputChange()"
        min="1">
      </ion-input>
    </ion-item>

    <ion-item>
      
      <ion-input
        label="Número de Pessoas"
        labelPlacement="stacked"
        type="number"
        placeholder="Ex: 2"
        [(ngModel)]="people"
        (ionInput)="onInputChange()"
        min="1">
      </ion-input>
    </ion-item>

    <ion-item>
       
       <ion-input
        label="Custo Médio Diária (por pessoa)"
        labelPlacement="stacked"
        type="number"
        placeholder="Ex: 150.00"
        [(ngModel)]="costPerNightPerPerson"
        (ionInput)="onInputChange()"
        min="0.01"
        step="0.01">
      </ion-input>
      <ion-note slot="end">R$</ion-note>
    </ion-item>

    
    <ion-item lines="full" *ngIf="calculatedCost > 0">
       <ion-label color="medium">Custo Estimado:</ion-label>
       <ion-note slot="end" color="tertiary" style="font-size: 1.1em; font-weight: bold;">
         {{ calculatedCost | currency:'BRL':'symbol':'1.2-2' }}
       </ion-note>
    </ion-item>
     <ion-item lines="none" *ngIf="calculatedCost <= 0 && (nights || people || costPerNightPerPerson)">
        <ion-label color="medium">Insira valores válidos para calcular.</ion-label>
    </ion-item>

  </ion-list>

  
  <ion-button
    expand="block"
    (click)="saveAndClose()"
    [disabled]="calculatedCost <= 0">
     <ion-icon slot="start" name="save-outline"></ion-icon>
    Salvar Custo de Hospedagem
  </ion-button>
</ion-content>